.title {
  text-align: center;
  color: #212ea0;
  font-size: 32px;
  /* font-weight: 600; */
  /* text-transform: uppercase; */
  margin: 70px 0 10px;
}

.title h2 {
  font-size: 32px;
  color: #212ea0;
  margin-top: 5px;
  text-transform: none;
  margin-bottom: 10px;
  font-weight: normal;
}

@media screen and (max-width: 850px) {

}

@media screen and (max-width: 650px) {
  .title{
    margin: 50px 0 10px;
  }
  .title h2 {
    font-size: 16px;
  }
  .title p{
    font-size: 20px;
  }
}
