@import "../../vars.css";

.container {
  color: #212EA0;
  /* margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%; */
  margin: 60px auto;
  width: 90%;
  text-align: center;
}

.title {
  color: #212EA0;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-evenly;
  margin-top: 14px; */
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 15px;
  font-family: var(--font-roboto);
  font-weight: 200;
}

/* .history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
} */

.history {
  width: 23%;
  border-radius: 10px;
  list-style: none;
}

.historyItem {
  /* display: flex; */
  /* flex-direction: row;
  align-items: center;
  gap: 17px; */
  /* background: #19376d; */
  background: #f5f5f5;
  /* background: linear-gradient(90deg, #19376d, rgba(25, 55, 109, 0.7) 100%); */
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  line-height: 1.4;
}

.historyItem:hover {
    border: 2px solid rgba(0, 206, 158, 1);
    resize: none;
}


.historyItem img {
  width: 50px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
  font-size: 5px;
}

.historyItemDetails h3 {
  font-size: 16px;
  font-weight: 600;
}

.historyItemDetails {
  font-size: 15px;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 16px;
    list-style-type: none;
    margin-left: 17px;
    list-style-type: none;
    color: #676767;
}

@media screen and (max-width: 800px) {
    .content {
        /* flex-direction: column;
        align-items: center;
        gap: 34px; */
        flex-wrap: wrap;
    }

    .container{
      margin: 20px auto;
    }
    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    /* .history {
        width: 100%;
        gap: 9px;
    } */

    .history{
      width: 100%;
      margin-bottom: 25px;
    }
/* 
    .historyItem{
      width: 10%;
      margin-bottom: 25px;
    } */
    .title {
      color: var(--color-dark);
      font-size: 20px;
      
    }
    .historyItemDetails h3 {
      font-size: 16px;
      font-weight: 600;
    }
    .historyItemDetails ul{
      font-size: 13px;
      color: #676767;
    }
    
}
